body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  background-image: url("book2.jpg");
  background-size: cover;
}

.navbar {
  background-image: url("paper.jpg");
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #664343;
  text-decoration: none;
  font-size: 22px;

}

.navbar a:hover {
  text-decoration: underline;
}

.header {
  margin-top: -25px;
  background-image: url("paper.jpg");
  color: #664343;
  padding: -20px;
  text-align: center;
}

.header h1 {
  
  border-top: 3.5px solid #BC9F8B;
  display: inline-block;
  padding-top: 22px;
  width: 200%;
  margin-left: -755px;
  border-bottom: 3.5px solid #BC9F8B;
  padding-bottom: 22px;



}

.header p {
  margin-top: 10px;
  
}

